<h1>Editing todo</h1>
<div class="center form">
	<%= render 'form' %>

	<span class="formbutton"><%= link_to 'Wyświetl', @todo %> |</span>
	<span class="formbutton"><%= link_to 'Powrót', todos_path %></span>
</div>
